project_name = "maia"
environment  = "dev"
aws_region   = "us-east-1"

vpc_cidr = "10.20.0.0/16"
az_count = 2

cluster_version = "1.30"

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3

# Change this to your office/home IP range before production use.
cluster_endpoint_public_access_cidrs = ["0.0.0.0/0"]

s3_bucket_force_destroy = false

k8s_namespace            = "default"
k8s_service_account_name = "maia-app"
