project_name = "maia"
environment  = "dev"
aws_region   = "us-east-1"
app_port     = 8000

deployment_target = "ecs"

eks_cluster_version = "1.30"

eks_node_instance_types = ["t3.medium"]
eks_node_desired_size   = 1
eks_node_min_size       = 1
eks_node_max_size       = 2
